.question {
  width: 500px;
  height: 500px;
}

.question-container {
  width: 100%;
  height: 100%;
}
body{
background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.header-description{
  color: #b8bab5;
}

.deleteBtn
{
  cursor: pointer;
  color: blue;
  textDecoration: underline;
}
.react-table-example{
  background-color: #f4f5fb;
}
.pagination {
  display: block !important;
}